name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - master

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    name: Build and test

    steps:
    - name: Checkout the repository
      uses: actions/checkout@v2

    - name: Setup Azure Functions Core Tools
      shell: pwsh
      run: |
        npm install -g azure-functions-core-tools@3 --unsafe-perm true
    - name: Setup .NET SDK 5.0 LTS
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0'
    - name: Setup .NET SDK 6.0 LTS
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0'

    - name: Restore NuGet packages
      shell: pwsh
      run: |
        dir
        dotnet restore .
    - name: Build and Test
      shell: pwsh
      run: |
        dir
        dotnet build
        dotnet test